<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间+id来找到唯一的一条sql语句-->
<mapper namespace="com.hwua.mapper.PermissionMapper">
<!--    查询所有权限-->
    <select id="queryAllPermission" resultType="com.hwua.pojo.Permission" >
        select id,permissionName,url from permission
    </select>

    <delete id="deletePermissionById">
        delete  from permission where id = #{id}
    </delete>

    <insert id="addPermission">
        insert into  permission values (null,#{permissionName},#{url})
    </insert>
</mapper>
